@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image1.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #66766c85;
    border: 2px solid #66766c1e;
    color: #c1b9a2;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #63513d;
    color: #c1b9a2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;

}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../img/image3.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #3638404d;
    border: 2px solid #36384044;
    color: #d6ad7e;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}


.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #988380;
    color: #f0d2af;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.coffee-image {
    background-attachment: fixed;
    background-image: url('../img/image2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coffee-image__link a {
    background-color: #86756269;
    border: 2px solid #1b161344;
    color: #d6ad7e;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}
.coffee-image__link a:hover {
    transform: scale(1.2);
}
.coffee-text {
    background-color: #3f3c36;
    color: #c0b09e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}
.coffee-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.footer {
    height: 250px;
    background-color: #363840;
    color: #9aa8be;
    font-size: 2rem;
    padding-top: 2rem;

}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #9aa8be;
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.3);
}